# Fichiers système
.DS_Store
Thumbs.db

# Dépendances
/node_modules
/vendor

# Fichiers d'environnement
.env
.env.local

# Fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de build
/build
/dist

# Fichiers IDE
.idea
.vscode
*.sublime-project
*.sublime-workspace
